@model IEnumerable<Sistema_Turnos.Models.DepartamentoViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card-header ">
    <div class="d-flex justify-content-between">
        <h3 class="card-title">Departamentos</h3>
        <button type="button" class="btn btn-primary animation-on-hover btn-sm" data-toggle="modal" data-target="#crearModal"> <i class="tim-icons icon-simple-add"></i> Nuevo</button>
    </div>
</div>

<div class="card-body ">
    <table class="table tablesorter table-hover table-striped" id="tablaDepartamento">
        <thead>
            <tr>
                <th></th>
                <th class="text-center">@Html.DisplayNameFor(model => model.Esta_Id)</th>
                <th>@Html.DisplayNameFor(model => model.Esta_Descripcion)</th>
                <th class="text-right">Acciones</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

<div class="modal fade modal-black" id="editarModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content ">
            <div class="modal-header" style="margin-block-end:-3%;">
                <h4 class="modal-title" id="exampleModalLabel">Editar Departamento</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @Html.Partial("_Edit", new Sistema_Turnos.Models.DepartamentoViewModel())
            </div>
        </div>
    </div>
</div>

<div class="modal fade modal-black" id="crearModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content ">
            <div class="modal-header" style="margin-block-end:-3%;">
                <h4 class="modal-title" id="exampleModalLabel">Crear Departamento</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @Html.Partial("_Create", new Sistema_Turnos.Models.DepartamentoViewModel())
            </div>
        </div>
    </div>
</div>

<div class="modal fade modal-black" id="eliminarModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content ">
            <div class="modal-header" style="margin-block-end:-3%;">
                <h4 class="modal-title" id="exampleModalLabel">Eliminar Departamento</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @Html.Partial("_Delete", new Sistema_Turnos.Models.DepartamentoViewModel())
            </div>
        </div>
    </div>
</div>


<style>
    td.details-control::after {
        content: "▶";
        cursor: pointer;
    }

    tr.shown td.details-control::after {
        content: "▼";
        cursor: pointer;
    }
</style>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/assets/js/core/datatables.min.js"></script>
<script>
    $(document).ready(function () {

        $.ajax({
            url: '/Departamento/DepartamentoCiudades',
            type: 'GET',
            dataType: 'json',
            success: function (response) {
                console.log(response.data);
                var table = $('#tablaDepartamento').DataTable({
                    "data": response.data,
                    "columns": [{
                        "orderable": false,
                        "data": null,
                        "defaultContent": ''
                    }, {
                        "data": "esta_Id",
                        "render": function (data, type, row) {
                            return '<div style="text-align: center;">' + data + '</div>';
                        }
                    }, {
                        "data": "esta_Descripcion"
                    }, {
                        "data": null,
                        "render": function (data, type, row) {
                            return `
                            <div style="text-align: center;">
                            <button class="btn btn-warning btn-sm editar-depa" onClick="EditarRegistro('${row.esta_Id}')" data-depa-id="${row.esta_Id}">Editar <i class="tim-icons icon-pencil"></i></button>
                            <a href="/Departamento/Details?Esta_Id=${row.esta_Id}" class="btn btn-info btn-sm">Detalle <i class="tim-icons icon-zoom-split"></i></a>
                            <a id="${row.esta_Id}" type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#eliminarModal" onclick="ObtenerID('${row.esta_Id}')">Eliminar <i class="tim-icons icon-trash-simple"></i></a>
                            </div>
                            `;
                        }
                        }],
                        "createdRow": function (row, data, dataIndex) {

                            if (data.tbCiudades && data.tbCiudades.length > 0) {
                                $(row).find("td:eq(0)").addClass('details-control');
                            }
                        }
                });//cierre datatable
                $('#tablaDepartamento tbody').on('click', 'td.details-control', function () {
                    var tr = $(this).closest('tr');
                    var row = table.row(tr);

                    if (row.child.isShown()) {
                        row.child.hide();
                        tr.removeClass('shown');
                    } else {
                        row.child(format(row.data())).show();
                        tr.addClass('shown');
                    }
                });
            },
            error: function (xhr, status, error) {
                console.error(error);
            }
        });//cierre del ajax


    });// cierre del document ready

    function format(d) {
        let fila = '';
        d.tbCiudades.forEach(function (ciudad) {
            fila += '<div style="display: flex; justify-content: flex-start; gap: 20px;"><div style="margin-left: 65px;">' + ciudad.ciud_Id + '</div><div style="margin-left: 40px;">' + ciudad.ciud_Descripcion + '</div></div>';
        })
        return '<div style="display: flex; justify-content: flex-start; gap: 20px;">' +
            '<div style="margin-left: 65px;">ID</div>' +
            '<div style="margin-left: 55px;">Ciudad</div>' +
            '</div>' +
            fila;
    }


        $('#crearModal form').submit(function (event) {
            var codigo = $('#estaid').val();
            var estado = $('#estado').val();

            if (!codigo) {
                event.preventDefault();
                $.notify({
                    icon: "tim-icons icon-bell-55",
                    message: "<b>Advertencia</b> El codigo es un campo requerido"
                }, {
                    type: 'warning',
                    timer: 1000,
                    placement: {
                        from: 'top',
                        align: 'right'
                    }
                });
            }

            if (!estado) {
                event.preventDefault();
                $.notify({
                    icon: "tim-icons icon-bell-55",
                    message: "<b>Advertencia</b> El estado es un campo requerido"
                }, {
                    type: 'warning',
                    timer: 1000,
                    placement: {
                        from: 'top',
                        align: 'right'
                    }
                });
            }
        });

        $('#editarModal form').submit(function (event) {
            var estado = $('#Descripcion').val();

            if (!estado) {
                event.preventDefault();
                $.notify({
                    icon: "tim-icons icon-bell-55",
                    message: "<b>Advertencia</b> El estado es un campo requerido"
                }, {
                    type: 'warning',
                    timer: 1000,
                    placement: {
                        from: 'top',
                        align: 'right'
                    }
                });
            }
        });


    function EditarRegistro(id) {
            $('#editarModal').modal('show');
            /*var id = $(this).data("depa-id");*/
            var url = "https://localhost:44363/API/Departamento/FillDepartamentos/" + id;

            console.log("Id: " + id);

            $.ajax({
                url: url,
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    console.log(data.data);
                    var datos = data.data[0];
                    var id = datos.esta_Id;
                    var descripcion = datos.esta_Descripcion;
                    console.log(descripcion);
                    $("#id").val(id);
                    $("#Descripcion").val(descripcion);
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });
        };


   /* });*/
</script>