@using Microsoft.AspNetCore.Http;
@using System.Text.Json;
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="../assets/img/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>
        Template Page
    </title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet" />
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <!-- Nucleo Icons -->
    <link href="~/assets/css/nucleo-icons.css" rel="stylesheet" />
    <!-- CSS Files -->
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/assets/css/black-dashboard.css?v=1.0.0" rel="stylesheet" />
    <!-- datatables -->
    <link href="~/assets/css/datatables.min.css" rel="stylesheet" />

</head>

<body class=" ">
    <div class="wrapper ">
        <div class="sidebar">
            <!--
                Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
            -->
            <div class="">
                <a href="" style="height: auto; width: 100%;" class="simple-text logo-mini">
                    <img src="~/assets/img/logo.png" alt="">
                </a>
            </div>
            <div class="sidebar-wrapper" style="margin-top: -25%;">
                <div class="logo">
                    <a href="http://www.creative-tim.com" class="simple-text logo-normal">
                    </a>
                </div>
                @{
                    HttpContextAccessor _httpContextAccesor = new HttpContextAccessor();
                    var pantallasJson = _httpContextAccesor.HttpContext.Session.GetString("Pantallas");
                    var pantallas = JsonSerializer.Deserialize<List<string>>(pantallasJson);


                }
            <ul class="nav">
                @if (pantallas != null && pantallas.Contains("Roles") || pantallas.Contains("Admin") || pantallas.Contains("Usuarios"))
                {
                    <li>
                        <a data-toggle="collapse" href="#access" aria-expanded="true" aria-controls="access">
                            <i class="tim-icons icon-key-25"></i>
                            <span class="nav-link-text">Acceso</span>
                            <b class="caret mt-1"></b>
                        </a>

                        <div class="collapse" id="access">
                            <ul class="nav pl-4">
                                @if (pantallas != null && pantallas.Contains("Roles") || pantallas.Contains("Admin"))
                                {
                                    <li>
                                        <a asp-controller="Rol" asp-action="Index">
                                            <span class="sidenav-normal"> Roles </span>
                                        </a>
                                    </li>
                                }
                                @if (pantallas != null && pantallas.Contains("Usuarios") || pantallas.Contains("Admin"))
                                {
                                    <li>
                                        <a asp-controller="Usuario" asp-action="Index">
                                            <span class="sidenav-normal"> Usuarios </span>
                                        </a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </li>
                }

                @if (pantallas != null && pantallas.Contains("Cargos") || pantallas.Contains("Admin") || pantallas.Contains("Departamento") || pantallas.Contains("Personas") || pantallas.Contains("Estados Civiles") || pantallas.Contains("Municipios"))
                {
                    <li>
                        <a data-toggle="collapse" href="#general" aria-expanded="false" aria-controls="general">
                            <i class="tim-icons icon-world"></i>
                            <span class="nav-link-text">General</span>
                            <b class="caret mt-1"></b>
                        </a>

                        <div class="collapse" id="general">
                            <ul class="nav pl-4">
                                @if (pantallas != null && pantallas.Contains("Cargos") || pantallas.Contains("Admin"))
                                {
                                    <li>
                                        <a asp-controller="Cargo" asp-action="Index">
                                            <span class="sidenav-normal"> Cargos </span>
                                        </a>
                                    </li>
                                }

                                @if (pantallas != null && pantallas.Contains("Departamento") || pantallas.Contains("Admin"))
                                {
                                    <li>
                                        <a asp-controller="Departamento" asp-action="Index">
                                            <span class="sidenav-normal"> Departamento </span>
                                        </a>
                                    </li>
                                }

                                @if (pantallas != null && pantallas.Contains("Estados Civiles") || pantallas.Contains("Admin"))
                                {
                                    <li>
                                        <a asp-controller="EstadoCivil" asp-action="Index">
                                            <span class="sidenav-normal"> Estado Civil </span>
                                        </a>
                                    </li>
                                }

                                @if (pantallas != null && pantallas.Contains("Municipios") || pantallas.Contains("Admin"))
                                {
                                    <li>
                                        <a asp-controller="Municipio" asp-action="Index">
                                            <span class="sidenav-normal"> Municipios </span>
                                        </a>
                                    </li>
                                }

                                @if (pantallas != null && pantallas.Contains("Personas") || pantallas.Contains("Admin"))
                                {
                                    <li>
                                        <a href="">
                                            <span class="sidenav-normal"> Personas </span>
                                        </a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </li>
                }

                @if (pantallas != null && pantallas.Contains("Empleados") || pantallas.Contains("Admin") || pantallas.Contains("Calendario") || pantallas.Contains("Hospitales") || pantallas.Contains("Turnos") || pantallas.Contains("Graficos"))
                {
                    <li>
                        <a data-toggle="collapse" href="#turnos" aria-expanded="false" aria-controls="turnos">
                            <i class="tim-icons icon-app"></i>
                            <span class="nav-link-text">Turnos</span>
                            <b class="caret mt-1"></b>
                        </a>

                        <div class="collapse" id="turnos">
                            <ul class="nav pl-4">
                                @if (pantallas != null && pantallas.Contains("Empleados") || pantallas.Contains("Admin") )
                                {
                                    <li>
                                        <a asp-controller="TurnosPorEmpleado" asp-action="Index">
                                            <span class="sidenav-normal"> Empleados </span>
                                        </a>
                                    </li>
                                }

                                @if (pantallas != null && pantallas.Contains("Calendario") || pantallas.Contains("Admin"))
                                {
                                    <li>
                                        <a asp-controller="TurnosPorEmpleado" asp-action="Index">
                                            <span class="sidenav-normal"> Calendario </span>
                                        </a>
                                    </li>
                                }

                                @if (pantallas != null && pantallas.Contains("Hospitales") || pantallas.Contains("Admin"))
                                {
                                    <li>
                                        <a href="">
                                            <span class="sidenav-normal"> Hospitales </span>
                                        </a>
                                    </li>
                                }

                                @if (pantallas != null && pantallas.Contains("Turnos") || pantallas.Contains("Admin"))
                                {
                                    <li>
                                        <a href="">
                                            <span class="sidenav-normal"> Turnos </span>
                                        </a>
                                    </li>
                                }

                                @if (pantallas != null && pantallas.Contains("Graficos") || pantallas.Contains("Admin"))
                                {
                                    <li>
                                        <a asp-controller="TurnosPorEmpleado" asp-action="Graficos">
                                            <span class="sidenav-normal"> Graficos </span>
                                        </a>
                                    </li>
                                }

                            </ul>
                        </div>
                    </li>
                }
                </ul>
            </div>
        </div>
        <div class="main-panel">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg navbar-absolute navbar-transparent   ">
                <div class="container-fluid">
                    <div class="navbar-wrapper">
                        <div class="navbar-toggle d-inline">
                            <button type="button" class="navbar-toggler">
                                <span class="navbar-toggler-bar bar1"></span>
                                <span class="navbar-toggler-bar bar2"></span>
                                <span class="navbar-toggler-bar bar3"></span>
                            </button>
                        </div>
                        <a class="navbar-brand" href="">Dashboard</a>
                    </div>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-bar navbar-kebab"></span>
                        <span class="navbar-toggler-bar navbar-kebab"></span>
                        <span class="navbar-toggler-bar navbar-kebab"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navigation">
                        <ul class="navbar-nav ml-auto ">

                            <!-- alinea el texto a la derecha -->
                            <li class="nav-item">
                                <p>@Context.Session.GetString("Usuario")</p>
                                <p class="float-right">@Context.Session.GetString("rol")</p>
                            </li>
                            <li class="dropdown nav-item">
                                <a href="" class="dropdown-toggle nav-link" data-toggle="dropdown">
                                    <div class="photo">
                                        <img src="../assets/img/default-avatar.png">
                                    </div>
                                    <b class="caret d-none d-lg-block d-xl-block"></b>
                                    <p class="d-lg-none">
                                        Log out
                                    </p>
                                </a>
                                <ul class="dropdown-menu dropdown-navbar">
                                    <li class="nav-link">
                                        <a href="" class="nav-item dropdown-item">Profile</a>
                                    </li>
                                    <li class="nav-link">
                                        <a href="" class="nav-item dropdown-item">Settings</a>
                                    </li>
                                    <div class="dropdown-divider"></div>
                                    <li class="nav-link">
                                        <a asp-controller="Home" asp-action="CerrarSesion" class="nav-item dropdown-item">Cerrar Sesion</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="separator d-lg-none"></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="searchModal" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="SEARCH">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <i class="tim-icons icon-simple-remove"></i>
                            </button>
                        </div>
                        <div class="modal-footer">
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Navbar -->
            <!-- Modal -->

            <div class="content">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            @RenderBody()
                        </div>
                    </div>

                </div>
            </div>
            <footer class="footer">
                <div class="container-fluid">

                    <div class="copyright float-right">
                        © 2024  Todos los derechos reservados.
                    </div>
            </footer>
        </div>
    </div>

    <!--   Core JS Files   -->
    <script src="~/assets/js/core/jquery.min.js"></script>
    <script src="~/assets/js/core/popper.min.js"></script>
    <script src="~/assets/js/core/bootstrap.min.js"></script>
    <script src="~/assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
    <script src="~/assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
    <!--  Notifications Plugin    -->
    <script src="../assets/js/plugins/bootstrap-notify.js"></script>
    <!-- Control Center for Black Dashboard: parallax effects, scripts for the example pages etc -->
    <script src="../assets/js/black-dashboard.min.js?v=1.0.0" type="text/javascript"></script>

    <!-- datatables -->
    <script src="../assets/js/core/datatables.min.js"></script>


    @if (TempData["Notificaciones"] != null)
    {
        string[] notificaciones = TempData["Notificaciones"] as string[];
        <script>
        $(document).ready(function () {
            $.notify({
                icon: "@notificaciones[0]",
                message: "<b>@notificaciones[1]</b> - @notificaciones[2]"
            }, {
                type: "@notificaciones[3]",
                timer: 1000,
                placement: {
                    from: 'top',
                    align: 'right'
                }
            });
        });
        </script>
    }

    <script>
        $(document).ready(function () {

            $().ready(function () {
                $sidebar = $('.sidebar');
                $navbar = $('.navbar');

                $full_page = $('.full-page');

                $sidebar_responsive = $('body > .navbar-collapse');
                sidebar_mini_active = true;
                white_color = false;

                window_width = $(window).width();

                fixed_plugin_open = $('.sidebar .sidebar-wrapper .nav li.active a p').html();



                $('.fixed-plugin a').click(function (event) {
                    // Alex if we click on switch, stop propagation of the event, so the dropdown will not be hide, otherwise we set the  section active
                    if ($(this).hasClass('switch-trigger')) {
                        if (event.stopPropagation) {
                            event.stopPropagation();
                        } else if (window.event) {
                            window.event.cancelBubble = true;
                        }
                    }
                });

                $('.fixed-plugin .background-color span').click(function () {
                    $(this).siblings().removeClass('active');
                    $(this).addClass('active');

                    var new_color = $(this).data('color');

                    if ($sidebar.length != 0) {
                        $sidebar.attr('data-color', new_color);
                    }

                    if ($navbar.length != 0) {
                        $navbar.attr('data-color', new_color);
                    }

                    if ($full_page.length != 0) {
                        $full_page.attr('filter-color', new_color);
                    }

                    if ($sidebar_responsive.length != 0) {
                        $sidebar_responsive.attr('data-color', new_color);
                    }
                });

                $('.switch-sidebar-mini input').on("switchChange.bootstrapSwitch", function () {
                    var $btn = $(this);

                    if (sidebar_mini_active == true) {
                        $('body').removeClass('sidebar-mini');
                        sidebar_mini_active = false;
                        blackDashboard.showSidebarMessage('Sidebar mini deactivated...');
                    } else {
                        $('body').addClass('sidebar-mini');
                        sidebar_mini_active = true;
                        blackDashboard.showSidebarMessage('Sidebar mini activated...');
                    }

                    // we simulate the window Resize so the charts will get updated in realtime.
                    var simulateWindowResize = setInterval(function () {
                        window.dispatchEvent(new Event('resize'));
                    }, 180);

                    // we stop the simulation of Window Resize after the animations are completed
                    setTimeout(function () {
                        clearInterval(simulateWindowResize);
                    }, 1000);
                });

                $('.switch-change-color input').on("switchChange.bootstrapSwitch", function () {
                    var $btn = $(this);

                    if (white_color == true) {

                        $('body').addClass('change-background');
                        setTimeout(function () {
                            $('body').removeClass('change-background');
                            $('body').removeClass('white-content');
                        }, 900);
                        white_color = false;
                    } else {

                        $('body').addClass('change-background');
                        setTimeout(function () {
                            $('body').removeClass('change-background');
                            $('body').addClass('white-content');
                        }, 900);

                        white_color = true;
                    }


                });

                $('.light-badge').click(function () {
                    $('body').addClass('white-content');
                });

                $('.dark-badge').click(function () {
                    $('body').removeClass('white-content');
                });
            });

            let table = new DataTable('#tabla');

        });

        $('#success').click(function () {
            $.notify({
                icon: "tim-icons icon-check-2",
                message: "<b>Exito</b> - registro agregado correctamente."

            }, {
                type: 'success',
                timer: 1000,
                placement: {
                    from: 'top',
                    align: 'right'
                }
            });
        });

        $('#danger').click(function () {
            $.notify({
                icon: "tim-icons icon-alert-circle-exc",
                message: "<b>Error</b> - No se pudo agregar el registro."

            }, {
                type: 'danger',
                timer: 1000,
                placement: {
                    from: 'top',
                    align: 'right'
                }
            });
        });

        $('#warning').click(function () {
            $.notify({
                icon: "tim-icons icon-bell-55",
                message: "<b>Alerta</b> - Algo salio mal."

            }, {
                type: 'warning',
                timer: 1000,
                placement: {
                    from: 'top',
                    align: 'right'
                }
            });
        });
    </script>

</body>

</html>